@model BibliotecaDB.Models.Cliente
@{
    ViewData["Title"] = "Crear Cliente";
}
<div class="alert alert-primary">
    <h1 class="text-center"> Crear Cliente</h1>
</div>

<div>
    <form asp-action="Create" enctype="multipart/form-data">
        <div>
            <label class="form-label">Nombre Cliente</label>

            <input class="form-control" asp-for="Nombre" />
            <span class="badge bg-danger" asp-validation-for="Nombre"></span>
        </div>
        <div>
            <label class="form-label">Apellido</label>

            <input class="form-control" asp-for="Apellido" />
            <span class="badge bg-danger" asp-validation-for="Apellido"></span>
        </div>

        <div>
            <label class="form-label">Direccion</label>

            <input class="form-control" asp-for="Direccion" />
            <span class="badge bg-danger" asp-validation-for="Direccion"></span>
        </div>
        <div>
            <label class="form-label">Correo Electronico</label>

            <input class="form-control" asp-for="CorreoElectronico" />
            <span class="badge bg-danger" asp-validation-for="CorreoElectronico"></span>
        </div>
        <div>
            <label class="form-label"  >Telefono</label>

            <input max="9" type="number"maxlength="9" class="form-control"  asp-for="Telefono" />
            
            <span class="badge bg-danger"  asp-validation-for="Telefono"></span>
        </div>
        <div class="text-end mt-3">
            <input type="reset" class="btn btn-light" value="Limpiar" />
            <input type="submit" class="btn btn-danger" value="Guardar" />
        </div>
    </form>



</div>

