@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ANDRES</h1>
    <p>Learn about <a href="https://intranet.virginiogomez.cl">https://intranet.virginiogomez.cl</a>.</p>
</div>
