@*cargar el modelo en la vista*@
@model BibliotecaDB.Models.Categoria
@{
    //permite tener el titulo de la página con diferentes nombres
    ViewData["Title"] = "Editar Categoría";
}

<h1 class="text-center">Editar Categoría</h1>
<div>
    @*asp-action permite acceder a un método del controlador*@
    <form asp-action="Edit">
        <input type="hidden" asp-for="IdCategoria" />
        <div>
            <label class="form-label">Categoría</label>
            @*asp-for es un helper que permite asignar el mismo nombre y id de la clase
            a los input*@
            <input type="text" class="form-control" asp-for="NombreCategoria" />
            @*validation-for permite validar algunos parametros*@
            <span asp-validation-for="NombreCategoria" class="badge bg-danger"></span>
        </div>
        <div class="text-end mt-3">
            <a class="btn btn-secondary" asp-action="Index" asp-controller="Categoria">Volver</a>
            <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>
    </form>
</div>